.sector__div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#sector__icons {
  font-size: xx-large;
  color: white;
  align-items: center;
}

.contact__info {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
  text-align: left;
  gap: 10px;
}

.contact__form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.contact__form form {
  width: 100%;
  margin-top: 15px;
}

.excutive__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.excutive__grid__item {
  background: #dddddd;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 8px;
  gap: 0;
  border-radius: 10px;
}

.excutive__grid__item img {
  border-radius: 12px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}